{
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": true,
        "useBuiltIns": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}