<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>wi Framwork</title>
</head>
<body>
  <!-- 如果页面需要自己定义一个id -->
  <!-- <div id="__demo__" class="page"></div> -->
  <!-- <div id="home" class="page"></div> -->
  <%=htmlWebpackPlugin.files[htmlWebpackPlugin.files.manifestConfigName]%>
</body>
</html>